@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;    
    overflow-x: hidden;
}

.lists {
    margin-top: -150px;
}

footer {
    margin-bottom: 30px;
    text-align: center;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.netflix a {
    color: rgb(255, 0, 0);
}

.tmdb a {
    color: #094d85;
}
.tmdb sup {
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.446);
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}