/* conf geral */

body {
	background-color: rgba(128, 128, 128, 0.181);
}

h4 {
	font-weight: bold;
	padding: 15px 0;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #0000000c;
}


/* header */

header .navbar {
	background-color: grey;
}

header ul li a{
	font-weight: bold;
	color: white;
}

header .btn-outline-light {
	color: white;
	background-color: grey !important;
}

header .btn-outline-light:hover {
	color: whitesmoke !important;
	text-shadow: 1px 1.2px 1px white !important;
	background-color: grey !important;
}

header ul li a:hover {
	text-shadow: 1px 1px 1px black;
	color: #cea21d;
}

/* section home */
#home {
	background: grey;
	color: whitesmoke;
}

/* footer */
footer nav li a {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.843);
}

footer nav li a:hover {
	text-shadow: 1px 1px 1px black;
	color:  #cea21d;
}